.main {
  &_title {
    color: var(--Black, #0F0A07);
    font-size: 28px;
    font-weight: 700;
    line-height: 160%;
    margin: 50px 0 30px 0;
  }

  &_links {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &_slider {}

    &_item {
      cursor: pointer;
    }


    &_wrp {
      margin-left: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 28px;
    }
  }

  &_videos {
    &_wrp {
      display: flex;
      gap: 19px
    }

    &_item {
      cursor: pointer;
    }
  }

  &_news {
    &_wrp {
      display: flex;
      gap: 19px
    }

    &_item {
      cursor: pointer;
    }

    &_btn {
      &_wrp {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      border-radius: 14px;
      background: fixed;
      border: 1.5px solid var(--Yellow, #F6A80B);
      color: var(--Black-Text, #2F2F30);
      font-size: 16px;
      font-weight: 500;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 30px;

    }
  }

  &_top {
    border-radius: 30px;
    border: 1px solid var(--Border-Grey, #EFEFF0);
    background: var(--White, #FFF);
    min-height: 370px;
    padding: 30px;

    &_wrp {
      gap: 18px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      &_btn {
        cursor: pointer;
        color: var(--Yellow, #F6A80B);
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
      }
    }

    &_title {
      color: var(--Black, #0F0A07);
      font-size: 22px;
      font-weight: 700;
      line-height: 160%;
    }
  }

  &_live {
    margin-bottom: 120px;

    &_wrp {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  &_forUser {
    margin-top: 30px;
    border-radius: 30px;
    border: 1px solid var(--Border-Grey, #EFEFF0);
    background: var(--White, #FFF);
    min-height: 370px;
    padding: 30px;

    &_wrp {
      gap: 18px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      &_btn {
        cursor: pointer;
        color: var(--Yellow, #F6A80B);
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
      }
    }

    &_title {
      color: var(--Black, #0F0A07);
      font-size: 22px;
      font-weight: 700;
      line-height: 160%;
    }
  }

  &_musics {
    &_wrp {
      display: flex;
      max-height: 100px;
      flex-wrap: wrap;
    }

    &_item {
      cursor: pointer;
      display: flex;
      width: 365px;
    }
  }
}