.wrp {
  padding-top: 20px;
  height: 100%;
  position:relative;

}

.btn_wrp {
  position: absolute;
  bottom: 0;
}

.info {
  display: grid;
  gap: 25px;
  text-align: start;
}

.input {
  max-width: 446px !important;
}