.wrp {
  padding-top: 20px;
  height: 100%;
  position:relative;

}

.btn_wrp {
  position: absolute;
  bottom: 0;
}

.info {
  display: grid;
  gap: 25px;
  text-align: start;
}

.title {
  text-align: start;
  color: var(--black-text, #2F2F30);
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
  /* 30.8px */
  margin-bottom: 30px;
}

.input {
  max-width: 446px !important;
}