.TextArea {
  position: relative;
  padding: 10px 20px;
  border-radius: 15px;
  background: var(--2-grey, #F8F8F8);

  label {
    z-index: 1;
    color: var(--grey-text, #BBB);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }



  &_wrap {
    & textarea {
      min-height: 106px;
      display: flex;
      width: 100%;
      align-items: flex-start;
      gap: 10px;
      font-size: 16px;
      border-radius: 15px;
      background: var(--2-grey, #F8F8F8);
      border: none;
      resize: none;

      &:focus {
        outline: none;
        border: none;
      }

    }
  }
}