.btn {
  z-index: 2;
  border-radius: 15px;
  background: var(--yellow, #F6A80B);
  display: flex;
  border: none;
  height: 60px;
  letter-spacing: 1px;

  &:hover {
    color: white !important;
  }

  color: var(--white, #FFF);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: white;
  padding: 19px 45px;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 2px #F6A80B);

  &_disabled {
    letter-spacing: 1px;
    display: flex;
    border: none;
    height: 60px;
    display: inline-flex;
    padding: 19px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: var(--2-grey, #F8F8F8);
    color: var(--grey-text, #BBB);
    font-size: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
}