.stream-shedule {
  width: 622px;
  height: 760px;
  margin-bottom: 200px;
  background-color: white;
  border-radius: 30px;
  margin-left: 20px;
  padding: 20px;
  /* display: flex; */
  /* flex-direction: column; */
}

.stream-shedule .nav-bar {
  width: calc(100% - 30px);
  height: 53px;
  overflow-x: auto;
  background-color: white;
  position: relative;
}

.stream-shedule .nav-bar::-webkit-scrollbar {
  height: 8px;
}

.stream-shedule .nav-bar::-webkit-scrollbar-thumb {
  background: var(--grey, #d0d0d0);
  border-radius: 4px;
}

.stream-shedule .nav-bar .dates-container {
  display: flex;
  white-space: nowrap;
  gap: 25px;
}

.stream-shedule .nav-bar .date-wrapper {
  height: 36px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.stream-shedule .nav-bar li.active div::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-topright: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: var(--yellow, #f6a80b);
  position: relative;
  bottom: -10px;
}

.stream-shedule .program-list {
  position: absolute;
  height: 720px;
  width: 582px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 53px;
}

.stream-shedule .program-list::-webkit-scrollbar {
  width: 8px;
}

.stream-shedule .program-list::-webkit-scrollbar-thumb {
  background: var(--grey, #d0d0d0);
  border-radius: 4px;
}
