:root{
    --bg-grey:#F9F9F9;
    --white:#FFF;
    --black-text:#2F2F30;
    --yellow:#F6A80B;
    --red:#FF1C45;
    --border-grey:#EFEFF0;
    --grey-text:#BBB;
    --yellow-light:#FFEAC1;
    --blue:#397FEF;
}