
.header_logo {
  background-image: url("../../assets/img/logotype.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 165px;
  @media(max-width: 668px) {
    height: 35px;
    width: 155px;
  }
}

.live{
  width: 8px;
  height: 8px;
  background: center no-repeat url("../../assets/img/live.svg");
  position: absolute;
  left: -14px;
  
}
