.Input {
  position: relative;
  width: 433px;


  .InputWrap {
    position: relative;
    background: var(--2-Grey, #F8F8F8);
    border-radius: 15px;
  }

  &_label {
    color: var(--grey-text, #BBB);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%; 
    padding: 10px 0 0 20px ;
  }

  label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: black;
  }

  input {
    background: var(--2-Grey, #F8F8F8);
    border-radius: 15px;
    padding: 19px 20px;
    width: 100%;
    border: 1px solid var(--2-grey, #F8F8F8);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;


    &::placeholder {
      color: var(--Grey, #D0D0D0);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 6px rgba(71, 164, 227, 0.08);
    }

    &[disabled] {
      border: 1px solid var(--2-grey, #F8F8F8);
      background-color: var(--2-grey, #F8F8F8);
    }

    &[type="number"] {
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &[type="time"] {

      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }
    }
  }

  &.required {

    label {
      position: relative;

      &::before {
        position: absolute;
        content: '*';
        top: -1px;
        right: -7px;
      }
    }
  }

  &.valid {
    input {
      position: relative;

    }

    .InputWrap {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 15px;
        z-index: 1;
        margin: auto 0;
        width: 13px;
        height: 9px;
      }
    }
  }

  &.invalid {
    input {
      border: 1px solid #FF1C45;
      color: #FF1C45;
      padding: 19px 20px;
      border-radius: 15px;
      background: var(--2-Grey, #F8F8F8);
    }

    .InputWrap {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 15px;
        z-index: 1;
        margin: auto 0;
        width: 10px;
        height: 10px;
      }
    }
  }

  &>span {
    display: inline-block;
    color: red;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
    margin-top: 20px;
  }
}

.label {
  color: var(--black, #0F0A07);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 20px;
}

.password {
  position: absolute;
  display: flex;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: center/cover no-repeat url("../../../../assets/img/hide.svg");

}
