.Input {

  width: 100%;
  position: relative;
  background: var(--2-grey, #F8F8F8);
  border-radius: 15px;
  padding: 19px 20px;
  
  &_withLabel {
    padding: 10px 20px 15px;
    height: 70px;
  }
  &_label {
    color: var(--grey-text, #BBB);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%; 
    margin-bottom: 3px;
  }
  .labelWrap {

    display: flex;
    width: 100%;
    color: var(--black, #0F0A07);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }



  .InputWrap {
    background: var(--2-grey, #F8F8F8);
    display: flex;
    width: 100%;
    border-radius: 15px;

    align-items: flex-start;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  input {
    width: 100%;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }

  }



  &.valid {
    input {
      position: relative;
    }

    .InputWrap {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 15px;
        z-index: 1;
        margin: auto 0;
        width: 13px;
        height: 9px;
      }
    }
  }

  &.invalid {
    input {
      border: 1px solid #FF1C45;
      color: #FF1C45;
    }

    .InputWrap {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 15px;
        z-index: 1;
        margin: auto 0;
        width: 10px;
        height: 10px;
      }
    }
  }

  &>span {
    display: inline-block;

  }
}

.label {
  color: var(--black, #0F0A07);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.password {
  position: absolute;
  display: flex;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: center/cover no-repeat url("../../../../assets/img/hide.svg");

}